@font-face {
  font-family: 'Clear Sans';
  src: url('/fonts/ClearSans-Light.eot?45969719');
  src: url('/fonts/ClearSans-Light.eot?45969719#iefix') format('embedded-opentype'),
       url('/fonts/ClearSans-Light.woff?45969719') format('woff'),
       url('/fonts/ClearSans-Light.ttf?45969719') format('truetype'),
       url('/fonts/ClearSans-Light.svg?45969719#ClearSans-Light') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Clear Sans';
  src: url('/fonts/ClearSans-Bold.eot?45969719');
  src: url('/fonts/ClearSans-Bold.eot?45969719#iefix') format('embedded-opentype'),
       url('/fonts/ClearSans-Bold.woff?45969719') format('woff'),
       url('/fonts/ClearSans-Bold.ttf?45969719') format('truetype'),
       url('/fonts/ClearSans-Bold.svg?45969719#ClearSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}
