<ul class='unstyled-list'>
  <% listed_articles.each do |article| %>
    <li>
      <h3 class='detailed-item'>
        <%= link_to article.title, article, class: 'item', title: superstrip(article.summary) %>
        <time class='detail' datetime="<%= article.date.utc %>"><%= article.date.strftime('%B %d, %Y') %></time>
      </h3>
    </li>
  <% end %>
</ul>
